In [24]:
import pandas as pd

In [25]:
pd.__version__

'1.3.4'

In [26]:
import pandas as pd
df = pd.read_parquet('yellow_tripdata_2021-01.parquet', 
                     engine='pyarrow')

In [27]:
df.tpep_pickup_datetime = pd.to_datetime(df.tpep_pickup_datetime)
df.tpep_dropoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime)

In [28]:
print(pd.io.sql.get_schema(df, name="yellow_taxi_data"))

CREATE TABLE "yellow_taxi_data" (
"VendorID" INTEGER,
  "tpep_pickup_datetime" TIMESTAMP,
  "tpep_dropoff_datetime" TIMESTAMP,
  "passenger_count" REAL,
  "trip_distance" REAL,
  "RatecodeID" REAL,
  "store_and_fwd_flag" TEXT,
  "PULocationID" INTEGER,
  "DOLocationID" INTEGER,
  "payment_type" INTEGER,
  "fare_amount" REAL,
  "extra" REAL,
  "mta_tax" REAL,
  "tip_amount" REAL,
  "tolls_amount" REAL,
  "improvement_surcharge" REAL,
  "total_amount" REAL,
  "congestion_surcharge" REAL,
  "airport_fee" REAL
)

In [29]:
df.head()

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge,airport_fee
0,1,2021-01-01 00:30:10,2021-01-01 00:36:12,1.0,2.10,1.0,N,142,43,2,8.0,3.0,0.5,0.00,0.0,0.3,11.80,2.5,NaN
1,1,2021-01-01 00:51:20,2021-01-01 00:52:19,1.0,0.20,1.0,N,238,151,2,3.0,0.5,0.5,0.00,0.0,0.3,4.30,0.0,NaN
2,1,2021-01-01 00:43:30,2021-01-01 01:11:06,1.0,14.70,1.0,N,132,165,1,42.0,0.5,0.5,8.65,0.0,0.3,51.95,0.0,NaN
3,1,2021-01-01 00:15:48,2021-01-01 00:31:01,0.0,10.60,1.0,N,138,132,1,29.0,0.5,0.5,6.05,0.0,0.3,36.35,0.0,NaN
4,2,2021-01-01 00:31:49,2021-01-01 00:48:21,1.0,4.94,1.0,N,68,33,1,16.5,0.5,0.5,4.06,0.0,0.3,24.36,2.5,NaN

In [30]:
from sqlalchemy import create_engine

In [31]:
!python --version

Python 3.7.3

In [32]:
engine = create_engine('postgresql://root:root@localhost:5432/ny_taxi')

In [33]:
engine.connect()

In [34]:
print(pd.io.sql.get_schema(df, name='yellow_taxi_data', con = engine))

CREATE TABLE yellow_taxi_data (
	"VendorID" BIGINT,
	tpep_pickup_datetime TIMESTAMP WITHOUT TIME ZONE,
	tpep_dropoff_datetime TIMESTAMP WITHOUT TIME ZONE,
	passenger_count FLOAT(53),
	trip_distance FLOAT(53),
	"RatecodeID" FLOAT(53),
	store_and_fwd_flag TEXT,
	"PULocationID" BIGINT,
	"DOLocationID" BIGINT,
	payment_type BIGINT,
	fare_amount FLOAT(53),
	extra FLOAT(53),
	mta_tax FLOAT(53),
	tip_amount FLOAT(53),
	tolls_amount FLOAT(53),
	improvement_surcharge FLOAT(53),
	total_amount FLOAT(53),
	congestion_surcharge FLOAT(53),
	airport_fee FLOAT(53)
)

In [35]:
df.head(n=0)

Empty DataFrame
Columns: [VendorID, tpep_pickup_datetime, tpep_dropoff_datetime, passenger_count, trip_distance, RatecodeID, store_and_fwd_flag, PULocationID, DOLocationID, payment_type, fare_amount, extra, mta_tax, tip_amount, tolls_amount, improvement_surcharge, total_amount, congestion_surcharge, airport_fee]
Index: []

In [36]:
df.to_csv('yellow_tripdata_2021-01.csv', encoding='utf-8', index=False, header=True)

In [37]:
df.head(n=0).to_sql(name='yellow_taxi_data', con=engine, if_exists='replace')

In [38]:
!pip install psycopg2

Requirement already satisfied: psycopg2 in c:\anaconda3\lib\site-packages (2.9.3)

In [39]:
import psycopg2
#establishing the connection
conn = psycopg2.connect(
   database="ny_taxi", user='root', password='root', host='localhost', port= '5432'
)

#Setting auto commit false
conn.autocommit = True

#Creating a cursor object using the cursor() method
cursor = conn.cursor()

#Retrieving data
cursor.execute('''SELECT count(1) FROM yellow_taxi_data''')

#Fetching 1st row from the table
result = cursor.fetchone();
print(result)

(0,)

In [40]:
%time df.head(100).to_sql(name='yellow_taxi_data', con=engine, if_exists='append')

Wall time: 138 ms

In [41]:
import psycopg2
#establishing the connection
conn = psycopg2.connect(
   database="ny_taxi", user='root', password='root', host='localhost', port= '5432'
)

#Setting auto commit false
conn.autocommit = True

#Creating a cursor object using the cursor() method
cursor = conn.cursor()

#Retrieving data
cursor.execute('''SELECT count(1) FROM yellow_taxi_data''')

#Fetching 1st row from the table
result = cursor.fetchone();
print(result)

(100,)

In [42]:
%time df.head(100000).to_sql(name='yellow_taxi_data', con=engine, if_exists='append')

Wall time: 27.9 s

In [43]:
import psycopg2
#establishing the connection
conn = psycopg2.connect(
   database="ny_taxi", user='root', password='root', host='localhost', port= '5432'
)

#Setting auto commit false
conn.autocommit = True

#Creating a cursor object using the cursor() method
cursor = conn.cursor()

#Retrieving data
cursor.execute('''SELECT count(1) FROM yellow_taxi_data''')

#Fetching 1st row from the table
result = cursor.fetchone();
print(result)

(100100,)

In [44]:
query = """ SELECT COUNT(1) FROM yellow_taxi_data"""
pd.read_sql(query, con = engine)

    count
0  100100

In [50]:
query = """ SELECT COUNT(1) FROM yellow_tripdata_trips"""
pd.read_sql(query, con = engine)

ProgrammingError: (psycopg2.errors.UndefinedTable) relation "yellow_tripdata_trips" does not exist
LINE 1:  SELECT COUNT(1) FROM yellow_tripdata_trips
                              ^

[SQL:  SELECT COUNT(1) FROM yellow_tripdata_trips]
(Background on this error at: https://sqlalche.me/e/14/f405)